body{
    background:url(https://wallpapercave.com/wp/wp6057449.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    animation-iteration-count: infinite;
    animation-name: textcolor;
    animation-duration: 10s;
}

#info{
    
    height: 680px;
    width: 1000px;
    margin-left: 250px;
    margin-top: 30px;
    border-radius: 20px;
    align-content: center;
}

#img1{
    border-radius: 50%;
    margin-left: 400px;
    margin-top: 30px;
}

h1{
    margin-left: 35%;
}

h2{
    margin-left: 35%;
}

p{
    font-size: x-large;
    margin-left: 40px;
    margin-right: 40px;
}

#connect{
    font-size: xx-large ;
    margin-left: 37%;
}

.logo{
    height: 50px;
    margin-left: 220px;
    align-content: center;
}

@keyframes textcolor{
    0%{
        color: antiquewhite;
    }
    25%{
        color: aquamarine;
    }
    50%{
        color: bisque;
    }
    75%{
        color:rgb(201, 249, 8);
    }
    100%{
        color:aliceblue;
    }
}