body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #e3edf1;
}

#v1 {
    background-color:aqua;
    color: rgb(216, 134, 134);
    padding: 30px 0;
    text-align: center;
}
#v1:hover{
    font-size: 20px;
    color: rgb(202, 214, 88);
    background-color: cyan;
}
p{
    color: darkgoldenrod;
}

h1 {
    margin: 0;
    font-size:45px;
}

main {
    padding: 20px;
    text-align: center;
}

.skills, .achievements {
    margin: 20px 0;
}
 

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 20px 20px;
    padding: 30px;
    border: 1px solid #333;
    transition: background-color 0.3s, color 0.3s;
}
main:hover{
    background-color:ivory;
    font-size: 17px;
}

li:hover {
    background-color:black;
    color: white;
    background-color: darkkhaki;
}

footer {
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 25px;
    
}

.icon:hover {
    transform: scale(2);
    color:blue;
    font-size: 15px;
}
