/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: whitesmoke;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #00246B;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.info h1 {
    font-size: 2.5em;
    color: whitesmoke;
}

.info p {
    font-size: 1.2em;
    margin-top: 10px;
    color: WHITE;
}

/* Sections */
section {
    margin-bottom: 30px;
    background-color: #CADCFC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #999;
}
