.port{
    background-color: rgb(157, 188, 245);
    height: 450px;
    width: 900px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px  20px  grey;
    background-image: url(https://plus.unsplash.com/premium_photo-1683309565422-77818a287060?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    
    
}
#name{
    
    font-size: 25px;
    padding: 600px 300px 150px 200px;/
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
    margin-top: 200px;
    padding-top: 150px;
    margin-left: 20 px;

}
.info{
    
    text-align: left;
    margin-right: 0px ;
    margin-left: 150px;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 600px;
    color:darkgreen
    

}

.photo{
    width: 125px;
    height: 125px;
    float :inline-end;
    padding-right: 175px;
        }