div{
        width:500px;
        height:300px;
        margin:auto;
        background-color: aqua;
        border-radius: 8px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 8px;
}
