body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: rgb(104, 165, 165);
}

#v1 {
    background-color:rgb(1, 95, 121);
    color: rgb(65, 34, 34);
    padding: 30px 0;
    text-align: center;
}
p{
    color: rgb(15, 3, 66);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
    text-align: center;
}

.skills, .achievements {
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 20px 20px;
    padding: 30px;
    border: 1px solid #333;
    transition: background-color 0.3s, color 0.3s;
}

li:hover {
    background-color:black;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 25px;
    
}

.icon:hover {
    transform: scale(2);
    color:blue;
    font-size: 15px;
}
.pic{
    text-align: center;
}