h1{
    color:black;
    font-family:'Courier New', Courier, monospace;
    font-size:xxx-large;
    text-decoration: dashed;
    
    font-weight: 500;
    text-shadow: 0cqb;
    text-align: center ;
}

body{
    
    
    background-size: cover;
    background-position: center;
    text-align: center;

}

p{
    color: white;
    text-align: center;
}
h4{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size:xx-large;
    color: aliceblue;

}
div{
    text-align: center;
}
h1{
    color: white;
}
r{
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-weight: 900;
    font-weight: bolder;
    font-size: xx-large;

}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-weight:bolder;
    font-size: xxx-large;
    color: white;
    text-decoration: underline;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color:lime;
    font-weight: bolder;
}
p5{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-weight: bolder;
    color: white;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;

}
p1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    color:lime;
    font-weight: bolder;

}
p6{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-weight: bolder;
    color: white;
    font-size:xx-large;
    text-align: center;
    text-decoration: underline;

}
p7{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-weight: bolder;
    color: white;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;

}
p8{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-weight: bolder;
    color: white;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;

}
p9{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-weight: bolder;
    color: white; 
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;

}
P2{
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
}
p3{
    color:lime;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
}
P4{
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
}
P10{
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
}